<div class="grid slider_shares">
    {% for item in result.ITEMS %}
        {# TODO link #}
        <a href="#" class="item" id="{{ add_editing_actions(item, template) }}">
            <img src="{{ item.PREVIEW_PICTURE.SRC }}" alt="{{ item.PREVIEW_PICTURE.ALT }}">
            <span class="red_line">{{ item.NAME }}</span>
            <div class="info">
                <p>{{ item.PREVIEW_TEXT }}</p>
            </div>
        </a>
    {% endfor %}
</div>
