<div class="grid">
    {% for item in result.ITEMS %}
        {% set icon = item.DISPLAY_PROPERTIES.ICON.FILE_VALUE %}
        {% set animation_delay = 1.2 + 0.4 * loop.index %}
        <a href="{{ item.PROPERTIES.LINK.VALUE }}"
           id="{{ add_editing_actions(item, template) }}"
           class="item wow fadeInDown"
           data-wow-duration=".6s"
           data-wow-delay="{{ animation_delay ~ 's' }}">
        <span class="img">
          <img src="{{ item.PREVIEW_PICTURE.SRC }}" alt="{{ item.PREVIEW_PICTURE.ALT }}">
          <span class="shape">
            <span>{{ item.NAME }}</span>
        </span>
        </span>
            <span class="info">
          <span class="ico">
            <img src="{{ icon.SRC }}" alt="{{ icon.DESCRIPTION }}">
          </span>
        <span class="text">
            {{ item.PREVIEW_TEXT }}
        </span>
        </span>
        </a>
    {% endfor %}
</div>