{% for item in result.ITEMS %}
    {% set cost = item.PROPERTIES.COST.VALUE %}
    {% set photos = item.DISPLAY_PROPERTIES.PHOTOS.FILE_VALUE %}
    <div class="hotel_item" id="{{ add_editing_actions(item, template) }}">
        <div class="hotel_top">
            <div class="hotel_top_left">
                <p class="hotel_top_title">{{ item.NAME }}</p>
                <div class="hotel_top_text editable-area">
                    {{ item.PREVIEW_TEXT }}
                </div>
            </div>
            <div class="hotel_top_right">
                <p class="hotel_top_price">{{ cost }}</p>
            </div>
        </div>
        <div class="hotel_bottom">
            <div class="hotel_bottom_left">
                <span class="hotel_bottom_open_hidden">Подробнее</span>
            </div>
            <div class="hotel_bottom_right">
                {# payments aren't implemented yet #}
                {#<span class="hotel_btn pay">On-line оплата</span>#}
                <span class="hotel_btn order" data-option-id="{{ item.ID }}">Забронировать</span>
            </div>
        </div>
        <div class="hotel_hidden">
            <div class="wrap_hotel_hidden">
                <div class="hotel_hidden_left editable-area">
                    {# TODO remove the whole left column if there is no text #}
                    {% if not item.DETAIL_TEXT is empty %}
                        {{ item.DETAIL_TEXT }}
                    {% else %}
                        {% set desc = result.SECTION_DESCRIPTION %}
                        {% if (not desc.TEXT is empty) and desc.HEADING %}
                            <p><b>{{ desc.HEADING }}</b><p>
                        {% endif %}
                        {{ desc.TEXT }}
                    {% endif %}
                </div>
                <div class="hotel_hidden_right">
                    {% if photos is not empty %}
                        <p><strong>Фотографии номеров:</strong></p>
                        <div class="grid hotel_gallery">
                            {% for photo in photos %}
                                <a class="hotel_gallery_item col col_2" href="{{ photo.RESIZED.MODAL.src }}">
                                    <img src="{{ photo.RESIZED.PREVIEW.src }}" alt="{{ photo.ALT }}" rel="name">
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
