<div class="item_table">
    <strong>{{ result.NAME ~ ':' }}</strong>
    <div class="wrap_table">
        <table>
            <thead>
            <tr>
                <td><b>Название услуги</b></td>
                {% for prop in result.TABLE_PROPERTIES %}
                    <td><b>{{ prop.NAME }}</b></td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in result.ITEMS %}
                <tr id="{{ add_editing_actions(item, template) }}">
                    <td>{{ item.NAME }}</td>
                    {% for prop in result.TABLE_PROPERTIES %}
                        <td>{{ item.PROPERTIES[prop.CODE].VALUE }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
