<div class="block">
    {% for item in result.ITEMS %}
        {% set caption = item.PROPERTIES.IMAGE_CAPTION.VALUE %}
        {% set period = item.PROPERTIES.PERIOD.VALUE %}
        {% set link = item.PROPERTIES.LINK.VALUE %}
        {% set tag = link ? 'a' : 'div' %}
        <{{ tag }}{{ link ? ' href="' ~ link ~ '"' }} class="item_shares" id="{{ add_editing_actions(item, template) }}">
            <div class="left">
                <img src="{{ resize(item.PREVIEW_PICTURE, 390, 390) }}" alt="{{ item.PREVIEW_PICTURE.ALT }}">
                <span class="red_line">{{ caption }}</span>
                <div class="info">
                    <p>{{ item.PREVIEW_TEXT }}</p>
                </div>
            </div>
            <div class="right">
                <p class="date">{{ period }}</p>
                <p class="title">{{ item.NAME }}</p>
                <div class="text editable-area">
                    {{ item.DETAIL_TEXT }}
                </div>
            </div>
        </{{ tag }}>
    {% endfor %}
</div>