<div class="contacts">
    <strong>Контакты</strong>
    <div class="line">
        <i class="fa fa-paper-plane"></i>
        <span class="text">{{ result.ADDRESS }}</span>
    </div>
    <div class="line">
        <i class="fa fa-envelope"></i>
        <span class="text">
            {% for email in result.EMAILS %}
                <a href="{{ 'mailto:' ~ email }}">{{ email }}</a>{% if not loop.last %}<br>{% endif %}
            {% endfor %}
        </span>
    </div>
    <div class="line">
        <i class="fa fa-phone"></i>
        {% for phone in result.PHONES %}
            {{ showComponent('app:phone_link', '', {PHONE: phone}, null, {HIDE_ICONS: 'Y'}) }}{% if not loop.last %}<br>{% endif %}
        {% endfor %}
    </div>
    <div class="line">
        <i class="fa fa-globe"></i>
        {% for url_map in result.URLS %}
            <a href="{{ url_map.URL }}">{{ url_map.HOST }}</a>{% if not loop.last %}<br>{% endif %}
        {% endfor %}
    </div>
    <div class="line">
        <i class="fa fa-clock-o"></i>
        <span class="text">{{ result.HOURS_OF_OPERATION }}</span>
    </div>
</div>