<section class="haircut" data-anchor="next">
    <div class="wrap">
        <strong class="heading"><h2>{{ result.NAME }}</h2></strong>
    </div>
    {% if result.SECTIONS|length > 1 %}
        <div class="tab_links">
            <div class="wrap">
                {% for section in result.SECTIONS %}
                    {# TODO break lines somehow #}
                    <span data-tabLinks="{{ 'section-' ~ section.ID }}">{{ section.NAME }}</span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="tab_blocks">
        <div class="wrap">
            {% for section in result.SECTIONS %}
                <div data-tabContent="{{ 'section-' ~ section.ID }}">
                    <div class="inner">
                        <div class="top">
                            {# pseudosection for orphan elements #}
                            {% if not section.PSEUDOSECTION %}
                                {% if section.PICTURE %}
                                    <div class="img">
                                        <img src="{{ section.PICTURE.SRC }}" alt="{{ section.PICTURE.ALT }}">
                                    </div>
                                {% endif %}
                                <div class="description editable-area">{{ section.DESCRIPTION }}</div>
                            {% endif %}
                        </div>
                        {% if not section.ITEMS is empty %}
                            <div class="wrap_table">
                                <table>
                                    <thead>
                                    <tr>
                                        <td>Название услуги</td>
                                        {% for prop in result.TABLE_PROPERTIES %}
                                            <td>{{ prop.NAME }}</td>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody class="show_items">
                                    {% for item in section.ITEMS %}
                                        <tr id="{{ add_editing_actions(item, template) }}">
                                            <td>{{ item.NAME }}</td>
                                            {% for prop in result.TABLE_PROPERTIES %}
                                                <td>{{ item.PROPERTIES[prop.CODE].VALUE }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="wrap_btn">
                                <span class="more_table_items" style="display: none">Другие породы</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>