{% set logo_label = 'Грумелье' %}
<header class="header">
    <div class="wrap">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a class="logo" href="{{ path('/') }}" title="{{ logo_label }}"></a>
        {{ header.menu }}
        <div class="header_info">
            {# TODO search #}
            <form action="" method="post" id="" class="search_form">
                <input type="text" placeholder="Поиск">
                <button type="submit"></button>
            </form>
            {{ header.phone_fragment }}
            <span class="re_call btn" data-modal="re_call">Обратный звонок</span>
            <span class="open_form"></span>
        </div>
    </div>
</header>
<!-- CONTENT START -->
<main class="content{{ content_class ? ' ' ~ content_class }}">
    {% block content %}
        {{ hero_banner }}
        {{ APPLICATION.GetViewContent('bitrix:breadcrumb:top') }}
        {{ page }}
    {% endblock %}
</main>
<!-- FOOTER START -->
<footer class="footer">
    <div class="wrap">
        <div class="top">
            <div class="logo">
                <a href="{{ path('/') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="{{ logo_label }}">
                </a>
            </div>
            {{ footer.about_us }}
            {{ footer.menu }}
            {{ footer.contact }}
        </div>
        <div class="bottom">{{ footer.copyright }} Создание и продвижение сайта: i-Market</div>
    </div>
</footer>
{% include partial('modals.twig') with modals %}
<!-- ПОДКЛЮЧЕНИЕ СКРИПТОВ START -->
{% for path in scripts %}
    <script type="text/javascript" src="{{ path }}"></script>
{% endfor %}
