<div class="grid slider_shares">
    {% for item in result.ITEMS %}
        {% set caption = item.PROPERTIES.IMAGE_CAPTION.VALUE %}
        {% set link = item.PROPERTIES.LINK.VALUE %}
        {% set tag = link ? 'a' : 'div' %}
        <{{ tag }}{{ link ? ' href="' ~ link ~ '"' }} class="item" id="{{ add_editing_actions(item, template) }}">
            <img src="{{ item.PREVIEW_PICTURE.RESIZED.src }}" alt="{{ item.PREVIEW_PICTURE.ALT }}">
            <div class="discount {{ item.CLASS }}" style="{{ item.STYLE }}">
                {{ caption }}
            </div>
            <div class="info">
                <p>{{ item.PREVIEW_TEXT }}</p>
            </div>
        </{{ tag }}>
    {% endfor %}
</div>